.alloy-body-frame,
.disc-brake-front,
.good-for-everyday,
.high-quality-durable,
.no-manual-instructions,
.premium-luxury-design,
.rubberized-handle-grip,
.semi-assembled,
.speed-gear-shifter,
.thicked-rubber-tires,
.tools-are-needed,
.with-manufacturer-warranty {
  margin: 0;
  line-height: 35px;
}
.blank-line {
  margin: 0;
  line-height: 28px;
}
.brake-repute-mechanical,
.fork-27mm-without,
.hubs-double-sealed,
.rim-alloy-double,
.seat-post-28mm {
  margin: 0;
  line-height: 35px;
}
.alloy-body-frame-container1 {
  width: 100%;
}
.alloy-body-frame-container,
.product-description {
  position: absolute;
  left: 40px;
  text-transform: capitalize;
  font-weight: 500;
}
.alloy-body-frame-container {
  top: 64px;
  display: flex;
  align-items: center;
  width: 607px;
}
.product-description {
  top: 29px;
  font-size: var(--font-size-3xl);
  line-height: 35px;
  text-align: center;
}
.item-1-details {
  position: absolute;
  top: 885px;
  left: 93px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 935px;
  height: 719px;
  overflow: hidden;
}
.quezon-city-metro46,
.you-might-also {
  position: absolute;
  text-transform: capitalize;
  font-weight: 500;
}
.you-might-also {
  top: 28px;
  left: 31px;
  font-size: var(--font-size-3xl);
  line-height: 35px;
  text-align: center;
}
.quezon-city-metro46 {
  top: 24px;
  left: 76px;
  line-height: 15px;
}
.sold46,
.star-icon51 {
  position: absolute;
  top: 0;
}
.star-icon51 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold46 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent43 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.yokohama-new-japan11 {
  position: absolute;
  top: 203px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-2-child2 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div67,
.item-2-child2,
.item-24 {
  position: absolute;
}
.div67 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-24 {
  top: 82px;
  left: 62px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro47 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold47,
.star-icon52 {
  position: absolute;
  top: 0;
}
.star-icon52 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold47 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent44 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.elbil-jeep-willys3,
.peak-1500w-motor3 {
  margin: 0;
}
.yokohama-new-japan-container42 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-4-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div68,
.item-4-inner,
.item-42 {
  position: absolute;
}
.div68 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-42 {
  top: 750px;
  left: 62px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro48 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold48,
.star-icon53 {
  position: absolute;
  top: 0;
}
.star-icon53 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold48 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent45 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.jeep-kids-electric4,
.off-road-toy-childrens3 {
  margin: 0;
}
.yokohama-new-japan-container43 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-3-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div69,
.item-3-inner,
.item-32 {
  position: absolute;
}
.div69 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-32 {
  top: 416px;
  left: 62px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro49 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold49,
.star-icon54 {
  position: absolute;
  top: 0;
}
.star-icon54 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold49 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent46 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.albott-scooter-with4,
.bar-large-aluminum4 {
  margin: 0;
}
.yokohama-new-japan-container44 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-5-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div70 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-1-details1,
.item-54 {
  position: absolute;
  background-color: var(--color-white);
  overflow: hidden;
}
.item-54 {
  top: 1084px;
  left: 62px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
}
.item-1-details1 {
  top: 885px;
  left: 1053px;
  border-radius: var(--br-3xs);
  width: 354px;
  height: 1424px;
  font-size: var(--font-size-3xs);
}
.component-10-icon,
.component-7-icon,
.component-8-icon,
.component-9-icon {
  position: absolute;
  top: 547px;
  left: 100px;
  width: 109px;
  height: 109px;
  object-fit: cover;
}
.component-10-icon,
.component-8-icon,
.component-9-icon {
  left: 228px;
}
.component-10-icon,
.component-9-icon {
  left: 357px;
}
.component-10-icon {
  left: 485px;
}
.buy-now-child3,
.buy-now11 {
  position: absolute;
  width: 101.26%;
  left: -1.26%;
}
.buy-now-child3 {
  height: 82.81%;
  top: 8.6%;
  right: 0;
  bottom: 8.6%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
}
.buy-now11 {
  height: 100%;
  top: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now10 {
  position: absolute;
  top: 483px;
  left: 967px;
  width: 159px;
  height: 57px;
  text-align: center;
  color: var(--color-white);
}
.add-to-cart-child {
  position: absolute;
  height: 82.81%;
  width: 101.25%;
  top: 8.6%;
  right: 0;
  bottom: 8.6%;
  left: -1.25%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-200);
}
.add-to-cart1 {
  position: absolute;
  top: 19.3%;
  left: 36.37%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
}
.cart-icon2 {
  position: absolute;
  height: 31.58%;
  width: 5.58%;
  top: 33.33%;
  right: 65.38%;
  bottom: 35.09%;
  left: 29.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add-to-cart {
  position: absolute;
  top: 483px;
  left: 639px;
  width: 303px;
  height: 57px;
  text-align: center;
  color: var(--color-indianred-100);
}
.quantity2 {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child24,
.group-child25,
.group-child26 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 39px;
}
.group-child24 {
  left: 69.6px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 34.8px;
}
.group-child25,
.group-child26 {
  left: 34.8px;
  width: 36.3px;
}
.group-child26 {
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
}
.div71,
.div72,
.div73 {
  position: absolute;
  top: 9px;
  left: 50px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 8.8px;
  height: 19.5px;
}
.div72,
.div73 {
  left: 83px;
  width: 12.6px;
}
.div73 {
  left: 14px;
  font-size: var(--font-size-xl);
  width: 8.8px;
}
.group-child27,
.quantity1,
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 109px;
  width: 104.5px;
  height: 39px;
}
.group-child27,
.quantity1 {
  top: 402px;
  left: 639px;
  width: 213.5px;
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 34px;
  height: 52px;
}
.ellipse-div {
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 50%;
  background-color: #eb0000;
  width: 26px;
  height: 26px;
}
.red1 {
  position: absolute;
  top: 33px;
  left: 7px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 20.5px;
  height: 17.7px;
}
.rectangle-parent12 {
  position: absolute;
  top: 0;
  left: 109px;
  width: 34px;
  height: 52px;
}
.group-child28,
.group-child29 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.group-child28 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-100);
  width: 34px;
  height: 52px;
}
.group-child29 {
  top: 7px;
  left: 4px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  width: 26px;
  height: 26px;
}
.white1 {
  position: absolute;
  top: 34px;
  left: 1px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child30,
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 151px;
  width: 34px;
  height: 52px;
}
.group-child30 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.group-child31 {
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 50%;
  background-color: #039900;
  width: 26px;
  height: 26px;
}
.green {
  position: absolute;
  top: 34px;
  left: 2px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child32,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 193px;
  width: 34px;
  height: 52px;
}
.group-child32 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.group-child33 {
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 50%;
  background-color: #0008d2;
  width: 26px;
  height: 26px;
}
.blue1 {
  position: absolute;
  top: 34px;
  left: 5px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 235px;
  width: 34px;
  height: 52px;
}
.color,
.colors {
  position: absolute;
}
.color {
  top: 26px;
  left: 0;
  font-size: var(--font-size-mid);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.colors {
  top: 309px;
  left: 639px;
  width: 269px;
  height: 52px;
  font-size: var(--font-size-3xs);
}
.component-15-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.radio-button-checked-icon3 {
  position: absolute;
  height: 25.64%;
  width: 6.02%;
  top: 38.46%;
  right: 87.95%;
  bottom: 35.9%;
  left: 6.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.express-delivery {
  width: 56.02%;
  top: 10.26%;
  left: 14.46%;
  white-space: pre-wrap;
}
.b2,
.days,
.express-delivery {
  position: absolute;
  line-height: 15px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.days {
  width: 23.49%;
  top: 51.28%;
  left: 15.06%;
  font-size: var(--font-size-5xs);
  font-weight: 500;
}
.b2 {
  height: 69.23%;
  width: 18.07%;
  top: -2.56%;
  left: 78.31%;
  color: var(--color-indianred-100);
}
.component-14-child,
.component-15,
.component-15-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 39px;
}
.component-14-child,
.component-15-wrapper {
  left: 286px;
}
.component-14-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.standard-delivery {
  position: absolute;
  width: 88.55%;
  top: 12.82%;
  left: 18.07%;
  line-height: 15px;
  text-transform: capitalize;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
}
.radio-button-checked-icon4 {
  position: absolute;
  height: 25.64%;
  width: 6.02%;
  top: 38.46%;
  right: 87.95%;
  bottom: 35.9%;
  left: 6.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b3,
.days1 {
  position: absolute;
  line-height: 15px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.b3 {
  width: 16.87%;
  top: 12.82%;
  left: 81.33%;
  color: var(--color-indianred-100);
}
.days1 {
  width: 88.55%;
  top: 51.28%;
  left: 18.67%;
  font-size: var(--font-size-5xs);
  font-weight: 500;
}
.component-14,
.component-14-wrapper,
.shipping-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  height: 39px;
}
.shipping-inner {
  left: 110px;
}
.shipping1 {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: var(--font-size-mid);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.shipping {
  position: absolute;
  top: 228px;
  left: 639px;
  width: 452px;
  height: 39px;
  font-size: var(--font-size-3xs);
}
.item-1-view-child {
  position: absolute;
  top: 34px;
  left: 100px;
  border-radius: var(--br-3xs);
  width: 493.8px;
  height: 500px;
  object-fit: cover;
}
.ratings {
  color: var(--color-darkgray);
}
.ratings,
.span3 {
  white-space: pre-wrap;
}
.sold50 {
  color: var(--color-darkgray);
}
.div74,
.ratings-1205-container {
  position: absolute;
  top: 105px;
  left: 770px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.div74 {
  top: 158px;
  left: 639px;
  font-size: 35px;
  color: var(--color-indianred-100);
}
.div75,
.star-icon55 {
  position: absolute;
  top: 104px;
  left: 671px;
  width: 85px;
  height: 17px;
}
.div75 {
  top: 103px;
  left: 639px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
  display: flex;
  align-items: center;
  width: 32px;
  height: 20px;
}
.rear-21-speed,
.yokohama-new-japan12 {
  margin: 0;
}
.yokohama-new-japan-container45 {
  position: absolute;
  top: 34px;
  left: 639px;
  font-size: var(--font-size-xl);
  line-height: 31px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-1-view {
  position: absolute;
  top: 172px;
  left: 92px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1314px;
  height: 690px;
  overflow: hidden;
  font-size: var(--font-size-mid);
}
.main-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-linen-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1500px;
  height: 151px;
}
.electric-bike-electric1 {
  position: absolute;
  top: 124px;
  left: 375px;
  font-weight: 500;
  color: var(--color-dimgray-200);
  white-space: normal;
}
.search-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-100);
  box-sizing: border-box;
  width: 928px;
  height: 42px;
}
.search6 {
  position: absolute;
  top: 12px;
  left: 19px;
  font-weight: 500;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-100);
  width: 46px;
  height: 31px;
}
.search-icon3 {
  position: absolute;
  height: 76.45%;
  width: 48.91%;
  top: 19.35%;
  right: 25%;
  bottom: 4.19%;
  left: 26.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent16,
.search5 {
  position: absolute;
  top: 6px;
  left: 875px;
  width: 46px;
  height: 31px;
}
.search5 {
  top: 73px;
  left: 369px;
  width: 928px;
  height: 42px;
  font-size: var(--font-size-mini);
}
.shopping-cart-icon {
  position: absolute;
  height: 78.71%;
  width: 84.85%;
  top: 21.29%;
  right: 15.15%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cart-inner {
  position: absolute;
  top: 0;
  left: 21.3px;
  border-radius: 50%;
  background-color: var(--color-sienna);
  width: 15px;
  height: 15px;
  color: #eb0000;
}
.b4,
.cart3 {
  position: absolute;
  top: 1px;
  left: 26px;
}
.cart3 {
  height: 27.68%;
  width: 2.42%;
  top: 47.68%;
  right: 9.45%;
  bottom: 24.64%;
  left: 88.13%;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.logo-1-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 94.9px;
  object-fit: cover;
}
.arngren4 {
  position: absolute;
  top: 36px;
  left: 96px;
  font-weight: 600;
}
.logo4 {
  position: absolute;
  top: 34px;
  left: 94px;
  width: 250px;
  height: 94.9px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
}
.account-circle-icon1 {
  position: absolute;
  height: 100%;
  width: 33.91%;
  top: 0;
  right: 66.09%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hakdog4 {
  position: absolute;
  top: 9.4px;
  left: 33.1px;
  font-weight: 500;
}
.account4 {
  position: absolute;
  height: 20.33%;
  width: 5.74%;
  top: 9.01%;
  right: 6.13%;
  bottom: 70.66%;
  left: 88.13%;
}
.globe-icon-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.1px;
  height: 30px;
  object-fit: cover;
}
.english4 {
  position: absolute;
  top: 9px;
  left: 50px;
  font-weight: 500;
}
.arrow-back-ios-new-icon4 {
  position: absolute;
  top: 10px;
  left: 103px;
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.back-icon,
.language4 {
  position: absolute;
  top: 14px;
  left: 1174px;
  width: 118px;
  height: 30px;
}
.back-icon {
  height: 9.93%;
  width: 1.53%;
  top: 45.03%;
  right: 97.53%;
  bottom: 45.03%;
  left: 0.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.main4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 151px;
  font-size: var(--font-size-smi);
}
.st-item {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 2361px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
  font-family: var(--font-montserrat);
}
