.buy-now-inner,
.buy-now5 {
  position: absolute;
  width: 101.26%;
  left: -1.26%;
}
.buy-now-inner {
  height: 82.81%;
  top: 8.6%;
  right: 0;
  bottom: 8.6%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
}
.buy-now5 {
  height: 100%;
  top: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now4 {
  position: absolute;
  top: 696px;
  left: 1246px;
  width: 159px;
  height: 57px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1313px;
  height: 37px;
}
.product-quantity-price {
  position: absolute;
  top: 12px;
  left: 23px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 1213px;
  height: 11.7px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent6 {
  position: absolute;
  top: 176px;
  left: 92px;
  width: 1313px;
  height: 37px;
  font-size: var(--font-size-mini);
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1313px;
  height: 149px;
}
.group-child15 {
  position: absolute;
  top: 24px;
  left: 59px;
  border-radius: var(--br-8xs);
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.high-carbon-steel1,
.yokohama-new-japan9 {
  margin: 0;
}
.yokohama-new-japan-container37 {
  position: absolute;
  top: 24px;
  left: 178px;
  font-size: var(--font-size-xs);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child16,
.red1 {
  position: absolute;
  top: 0;
}
.group-child16 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 96px;
  height: 23px;
}
.red1 {
  left: 7.3px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 21.9px;
  height: 21.9px;
}
.polygon-icon {
  position: absolute;
  top: 9.9px;
  left: 82.4px;
  width: 6.3px;
  height: 4.4px;
  object-fit: contain;
}
.rectangle-parent8 {
  position: absolute;
  top: 101px;
  left: 178px;
  width: 96px;
  height: 23px;
  color: var(--color-dimgray-300);
}
.variation {
  position: absolute;
  top: 84px;
  left: 178px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child17,
.group-child18,
.group-child19 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 22px;
}
.group-child17 {
  left: 61.3px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 30.7px;
}
.group-child18,
.group-child19 {
  left: 30.7px;
  width: 32px;
}
.group-child19 {
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
}
.div53,
.div54,
.div55 {
  position: absolute;
  top: 5.1px;
  left: 45px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 7.8px;
  height: 11px;
}
.div54,
.div55 {
  left: 73.1px;
  font-size: var(--font-size-mini);
  width: 11.1px;
}
.div55 {
  left: 12.3px;
  font-size: var(--font-size-lg);
  width: 7.8px;
}
.rectangle-parent9 {
  position: absolute;
  top: 66px;
  left: 698px;
  width: 92px;
  height: 22px;
}
.buy-now-child1,
.buy-now7 {
  position: absolute;
  width: 101.22%;
  left: -1.22%;
}
.buy-now-child1 {
  height: 82.82%;
  top: 8.46%;
  right: 0;
  bottom: 8.72%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
}
.buy-now7 {
  height: 100%;
  top: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now6 {
  position: absolute;
  top: 58px;
  left: 1153px;
  width: 82px;
  height: 39px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.div56 {
  position: absolute;
  top: 70px;
  left: 930px;
  font-size: var(--font-size-mini);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.radio-button-checked-icon2 {
  position: absolute;
  top: 70px;
  left: 27px;
  width: 15px;
  height: 15px;
}
.group-child20,
.rectangle-parent7 {
  position: absolute;
  top: 222px;
  left: 93px;
  width: 1313px;
  height: 149px;
}
.group-child20 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.group-child21 {
  position: absolute;
  top: 22px;
  left: 60px;
  border-radius: var(--br-8xs);
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.new-48v-electric {
  position: absolute;
  top: 35px;
  left: 179px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 96px;
  height: 23px;
}
.white1 {
  position: absolute;
  top: 0;
  left: 7.3px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 31px;
  height: 20px;
}
.group-child23 {
  position: absolute;
  top: 9.9px;
  left: 82.4px;
  width: 6.3px;
  height: 4.4px;
  object-fit: contain;
}
.rectangle-parent11 {
  position: absolute;
  top: 99px;
  left: 179px;
  width: 96px;
  height: 23px;
  color: var(--color-dimgray-300);
}
.variation1 {
  position: absolute;
  top: 82px;
  left: 179px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child24,
.group-child25,
.group-child26 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 22px;
}
.group-child24 {
  left: 61.3px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 30.7px;
}
.group-child25,
.group-child26 {
  left: 30.7px;
  width: 32px;
}
.group-child26 {
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
}
.div57,
.div58,
.div59 {
  position: absolute;
  top: 5.1px;
  left: 45px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 7.8px;
  height: 11px;
}
.div58,
.div59 {
  left: 73.1px;
  font-size: var(--font-size-mini);
  width: 11.1px;
}
.div59 {
  left: 12.3px;
  font-size: var(--font-size-lg);
  width: 7.8px;
}
.rectangle-parent12 {
  position: absolute;
  top: 60px;
  left: 699px;
  width: 92px;
  height: 22px;
}
.buy-now-child2,
.buy-now9 {
  position: absolute;
  width: 101.22%;
  left: -1.22%;
}
.buy-now-child2 {
  height: 82.82%;
  top: 8.46%;
  right: 0;
  bottom: 8.72%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
}
.buy-now9 {
  height: 100%;
  top: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now8 {
  position: absolute;
  top: 55px;
  left: 1154px;
  width: 82px;
  height: 39px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.div60 {
  position: absolute;
  top: 67px;
  left: 931px;
  font-size: var(--font-size-mini);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.radio-button-checked-icon3 {
  position: absolute;
  top: 67px;
  left: 28px;
  width: 15px;
  height: 15px;
}
.group-child27,
.rectangle-parent10 {
  position: absolute;
  top: 380px;
  left: 92px;
  width: 1313px;
  height: 149px;
}
.group-child27 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.group-child28 {
  position: absolute;
  top: 22px;
  left: 60px;
  border-radius: var(--br-8xs);
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.jeep-kids-electric3,
.remote-control-car-1-6 {
  margin: 0;
}
.jeep-kids-electric-container {
  position: absolute;
  top: 22px;
  left: 179px;
  font-size: var(--font-size-xs);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.blue1,
.group-child29 {
  position: absolute;
  top: 0;
}
.group-child29 {
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 96px;
  height: 23px;
}
.blue1 {
  left: 7.3px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 31px;
  height: 20px;
}
.group-child30 {
  position: absolute;
  top: 9.9px;
  left: 82.4px;
  width: 6.3px;
  height: 4.4px;
  object-fit: contain;
}
.rectangle-parent14 {
  position: absolute;
  top: 99px;
  left: 179px;
  width: 96px;
  height: 23px;
  color: var(--color-dimgray-300);
}
.variation2 {
  position: absolute;
  top: 82px;
  left: 179px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-child31,
.group-child32,
.group-child33 {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 22px;
}
.group-child31 {
  left: 61.3px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 30.7px;
}
.group-child32,
.group-child33 {
  left: 30.7px;
  width: 32px;
}
.group-child33 {
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
}
.div61,
.div62,
.div63 {
  position: absolute;
  top: 5.1px;
  left: 45px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 7.8px;
  height: 11px;
}
.div62,
.div63 {
  left: 73.1px;
  font-size: var(--font-size-mini);
  width: 11.1px;
}
.div63 {
  left: 12.3px;
  font-size: var(--font-size-lg);
  width: 7.8px;
}
.rectangle-parent15 {
  position: absolute;
  top: 64px;
  left: 699px;
  width: 92px;
  height: 22px;
}
.buy-now-child3,
.buy-now11 {
  position: absolute;
  width: 101.22%;
  left: -1.22%;
}
.buy-now-child3 {
  height: 82.82%;
  top: 8.46%;
  right: 0;
  bottom: 8.72%;
  border-radius: var(--br-6xs);
  background-color: var(--color-indianred-100);
}
.buy-now11 {
  height: 100%;
  top: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now10 {
  position: absolute;
  top: 55px;
  left: 1154px;
  width: 82px;
  height: 39px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.div64 {
  position: absolute;
  top: 67px;
  left: 931px;
  font-size: var(--font-size-mini);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.radio-button-checked-icon4 {
  position: absolute;
  top: 67px;
  left: 28px;
  width: 15px;
  height: 15px;
}
.rectangle-parent13 {
  position: absolute;
  top: 538px;
  left: 92px;
  width: 1313px;
  height: 149px;
}
.main-child1,
.search-child1 {
  position: absolute;
  top: 0;
  left: 0;
}
.main-child1 {
  background-color: var(--color-linen-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1500px;
  height: 151px;
}
.search-child1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  width: 454px;
  height: 42px;
}
.search-item-in {
  position: absolute;
  top: 12px;
  left: 16px;
  font-weight: 500;
}
.group-child34 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-100);
  width: 46px;
  height: 31px;
}
.search-icon3 {
  position: absolute;
  height: 76.45%;
  width: 48.91%;
  top: 19.35%;
  right: 25%;
  bottom: 4.19%;
  left: 26.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent16,
.search6 {
  position: absolute;
  top: 6px;
  left: 401px;
  width: 46px;
  height: 31px;
}
.search6 {
  top: 75px;
  left: 951px;
  width: 454px;
  height: 42px;
  font-size: var(--font-size-mini);
}
.logo-1-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 94.9px;
  object-fit: cover;
}
.arngren5 {
  position: absolute;
  top: 36px;
  left: 124px;
  font-weight: 600;
}
.div65 {
  top: 9px;
  left: 282px;
  font-size: var(--font-size-45xl);
}
.cart4,
.div65,
.logo4 {
  position: absolute;
}
.cart4 {
  top: 36px;
  left: 297px;
  font-weight: 600;
}
.logo4 {
  top: 34px;
  left: 93px;
  width: 358px;
  height: 94.9px;
  font-size: var(--font-size-17xl);
}
.account-icon2 {
  position: absolute;
  height: 100%;
  width: 33.91%;
  top: 0;
  right: 66.09%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hakdog4 {
  position: absolute;
  top: 9.4px;
  left: 33.1px;
  font-weight: 500;
}
.account4 {
  position: absolute;
  height: 20.33%;
  width: 5.74%;
  top: 9.01%;
  right: 6.2%;
  bottom: 70.66%;
  left: 88.06%;
}
.english4 {
  position: absolute;
  top: 9px;
  left: 39px;
  font-weight: 500;
}
.arrow-back-ios-new-icon4,
.globe-icon-13 {
  position: absolute;
  top: 10px;
  left: 92px;
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.globe-icon-13 {
  top: 0;
  left: 0;
  width: 29.1px;
  height: 30px;
  object-fit: cover;
}
.language4,
.main4 {
  position: absolute;
  top: 14px;
  left: 1184px;
  width: 107px;
  height: 30px;
}
.main4 {
  top: 0;
  left: 0;
  width: 1500px;
  height: 151px;
  font-size: var(--font-size-smi);
}
.quezon-city-metro40,
.you-might-like1 {
  position: absolute;
  text-transform: capitalize;
  font-weight: 500;
}
.you-might-like1 {
  top: 16px;
  left: 29px;
  font-size: var(--font-size-mid);
  line-height: 35px;
  text-align: center;
}
.quezon-city-metro40 {
  top: 24px;
  left: 76px;
  line-height: 15px;
}
.sold41,
.star-icon46 {
  position: absolute;
  top: 0;
}
.star-icon46 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold41 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent37 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.board-game-for,
.ibaby-jumping-pirate {
  margin: 0;
}
.yokohama-new-japan-container38 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-9-child2 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div66,
.item-9-child2,
.item-94 {
  position: absolute;
}
.div66 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-94 {
  top: 401px;
  left: 542px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro41 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold42,
.star-icon47 {
  position: absolute;
  top: 0;
}
.star-icon47 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold42 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent38 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.decompression-magnet-bat,
.mm-216pcs-magnetic {
  margin: 0;
}
.yokohama-new-japan-container39 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-8-child2 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div67,
.item-8-child2,
.item-84 {
  position: absolute;
}
.div67 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-84 {
  top: 401px;
  left: 34px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro42 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold43,
.star-icon48 {
  position: absolute;
  top: 0;
}
.star-icon48 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold43 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent39 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.fully-automatic-dolphin,
.gun-for-children {
  margin: 0;
}
.yokohama-new-japan-container40 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-7-child2 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div68,
.item-7-child2,
.item-74 {
  position: absolute;
}
.div68 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-74 {
  top: 61px;
  left: 542px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro43 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold44,
.star-icon49 {
  position: absolute;
  top: 0;
}
.star-icon49 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold44 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent40 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.yokohama-new-japan10 {
  position: absolute;
  top: 203px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-5-child2 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div69,
.item-5-child2,
.item-54 {
  position: absolute;
}
.div69 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-54 {
  top: 61px;
  left: 796px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro44 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold45,
.star-icon50 {
  position: absolute;
  top: 0;
}
.star-icon50 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold45 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent41 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.play-tent-foldable,
.tent-for-kids {
  margin: 0;
}
.yokohama-new-japan-container41 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-2-child1 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div70,
.item-2-child1,
.item-23 {
  position: absolute;
}
.div70 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-23 {
  top: 61px;
  left: 34px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro45 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold46,
.star-icon51 {
  position: absolute;
  top: 0;
}
.star-icon51 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold46 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent42 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.road-bike-262,
.yokohama-new-japan11 {
  margin: 0;
}
.yokohama-new-japan-container42 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-1-item {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div71,
.item-1-item,
.item-16 {
  position: absolute;
}
.div71 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-16 {
  top: 61px;
  left: 1050px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro46 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold47,
.star-icon52 {
  position: absolute;
  top: 0;
}
.star-icon52 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold47 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent43 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.outdoor-camping-stove1,
.smilee-portable-butane1 {
  margin: 0;
}
.yokohama-new-japan-container43 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-8-child3 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div72,
.item-8-child3,
.item-85 {
  position: absolute;
}
.div72 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-85 {
  top: 401px;
  left: 1050px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro47 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold48,
.star-icon53 {
  position: absolute;
  top: 0;
}
.star-icon53 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold48 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent44 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.jeep-kids-electric4,
.off-road-toy-childrens3 {
  margin: 0;
}
.yokohama-new-japan-container44 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-3-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div73,
.item-3-inner,
.item-32 {
  position: absolute;
}
.div73 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-32 {
  top: 401px;
  left: 796px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro48 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold49,
.star-icon54 {
  position: absolute;
  top: 0;
}
.star-icon54 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold49 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent45 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.cooker-18l-non-stick1,
.mini-rice-cooker1 {
  margin: 0;
}
.yokohama-new-japan-container45 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-9-child3 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div74,
.item-9-child3,
.item-95 {
  position: absolute;
}
.div74 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-95 {
  top: 61px;
  left: 288px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro49 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold50,
.star-icon55 {
  position: absolute;
  top: 0;
}
.star-icon55 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold50 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent46 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.yokohama-new-japan12 {
  position: absolute;
  top: 203px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-2-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div75 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-24,
.sort-by3 {
  position: absolute;
  background-color: var(--color-white);
  overflow: hidden;
}
.item-24 {
  top: 401px;
  left: 288px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
}
.sort-by3 {
  top: 847px;
  left: 93px;
  border-radius: var(--br-3xs);
  width: 1313px;
  height: 750px;
}
.cart3 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 1714px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-montserrat);
}
