body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-17xl: 36px;
  --font-size-mid: 17px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-lgi: 19px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #4b465a;
  --color-dimgray-200: rgba(75, 70, 90, 0.8);
  --color-dimgray-300: rgba(75, 70, 90, 0.7);
  --color-dimgray-400: rgba(75, 70, 90, 0);
  --color-linen-100: #f3efea;
  --color-linen-200: #efe7dc;
  --color-indianred-100: #aa4e43;
  --color-whitesmoke-100: #f2f2f2;
  --color-whitesmoke-200: #e9e9e9;
  --color-lightgray: #d5d5d5;
  --color-darkgray: #9a9a9a;
  --color-darkslategray: #323842;

  /* Gaps */
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-10xs: 3px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-smi: 13px;
  --gap-6xl: 25px;
  --gap-10xl-9: 29.9px;
  --gap-9xs-9: 3.9px;
  --gap-9xs-5: 3.5px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-5xs: 8px;
  --gap-mid: 17px;
  --gap-2xs: 11px;
  --gap-4xs-5: 8.5px;
  --gap-mini: 15px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-sm: 14px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-11xs-7: 1.7px;
  --padding-3xs-4: 9.4px;
  --padding-2xl: 21px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-6xs: 7px;
  --padding-lgi: 19px;
  --padding-13xl: 32px;
  --padding-9xl: 28px;
  --padding-31xl: 50px;
  --padding-10xs: 3px;
  --padding-4xl: 23px;
  --padding-mini: 15px;
  --padding-11xl: 30px;
  --padding-256xl: 275px;
  --padding-118xl: 137px;
  --padding-49xl: 68px;
  --padding-14xl: 33px;
  --padding-3xl: 22px;
  --padding-58xl: 77px;
  --padding-19xl: 38px;
  --padding-26xl: 45px;
  --padding-23xl: 42px;
  --padding-7xs-1: 5.1px;
  --padding-7xs-9: 5.9px;
  --padding-xs-8: 11.8px;
  --padding-mini-3: 14.3px;
  --padding-smi-3: 12.3px;
  --padding-5xs-3: 7.3px;
  --padding-7xs-7: 5.7px;
  --padding-xs: 12px;
  --padding-25xl: 44px;
  --padding-184xl: 203px;
  --padding-62xl: 81px;
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-4xs: 9px;
  --br-6xs: 7px;
  --br-8xs: 5px;
  --br-5xs: 8px;
}
