.quezon-city-metro15,
.sort-by1 {
  position: absolute;
  text-transform: capitalize;
  font-weight: 500;
}
.sort-by1 {
  top: 17px;
  left: 19px;
  font-size: var(--font-size-mid);
  line-height: 35px;
  text-align: center;
}
.quezon-city-metro15 {
  top: 24px;
  left: 76px;
  line-height: 15px;
}
.sold15,
.star-icon15 {
  position: absolute;
  top: 0;
}
.star-icon15 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold15 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent12 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.electric-tricycles-3,
.person-tricycle-motorcycle {
  margin: 0;
}
.yokohama-new-japan-container13 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-10-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div15 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-102 {
  position: absolute;
  top: 392px;
  left: 278px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro16 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold16,
.star-icon16 {
  position: absolute;
  top: 0;
}
.star-icon16 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold16 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent13 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.china-manufacturer-fastest,
.fashion-250cc-400cc {
  margin: 0;
}
.yokohama-new-japan-container14 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-9-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div16,
.item-9-inner,
.item-92 {
  position: absolute;
}
.div16 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-92 {
  top: 392px;
  left: 527px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro17 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold17,
.star-icon17 {
  position: absolute;
  top: 0;
}
.star-icon17 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold17 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent14 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.cc-150cc-200cc,
.road-cuatrimoto-four {
  margin: 0;
}
.yokohama-new-japan-container15 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-11-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div17,
.item-11,
.item-11-child {
  position: absolute;
}
.div17 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-11 {
  top: 392px;
  left: 776px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro18 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold18,
.star-icon18 {
  position: absolute;
  top: 0;
}
.star-icon18 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold18 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent15 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.alex-r-electric-motorcycles,
.motorbike-scooter-72v {
  margin: 0;
}
.yokohama-new-japan-container16 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-12-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div18,
.item-12,
.item-12-child {
  position: absolute;
}
.div18 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-12 {
  top: 723px;
  left: 29px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro19 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold19,
.star-icon19 {
  position: absolute;
  top: 0;
}
.star-icon19 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold19 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent16 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.seater-electric-utility,
.with-luggage-box {
  margin: 0;
}
.yokohama-new-japan-container17 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-13-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div19 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-131 {
  position: absolute;
  top: 723px;
  left: 278px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro20 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold20,
.star-icon20 {
  position: absolute;
  top: 0;
}
.star-icon20 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold20 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent17 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.yokohama-new-japan4 {
  position: absolute;
  top: 203px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-14-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div20,
.item-14,
.item-14-child {
  position: absolute;
}
.div20 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-14 {
  top: 723px;
  left: 527px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro21 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold21,
.star-icon21 {
  position: absolute;
  top: 0;
}
.star-icon21 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold21 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent18 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.eec-coc-electric,
.w-for-adult {
  margin: 0;
}
.yokohama-new-japan-container18 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-15-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div21,
.item-15,
.item-15-child {
  position: absolute;
}
.div21 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-15 {
  top: 723px;
  left: 776px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro22 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold22,
.star-icon22 {
  position: absolute;
  top: 0;
}
.star-icon22 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold22 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent19 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.electric-motorcycle-with,
.w-72v-electric {
  margin: 0;
}
.yokohama-new-japan-container19 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-8-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div22,
.item-8-inner,
.item-82 {
  position: absolute;
}
.div22 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-82 {
  top: 392px;
  left: 29px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro23 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold23,
.star-icon23 {
  position: absolute;
  top: 0;
}
.star-icon23 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold23 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent20 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.e-mobility-2000w,
.tvs-motorcycle-e {
  margin: 0;
}
.yokohama-new-japan-container20 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-7-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div23,
.item-7-inner,
.item-72 {
  position: absolute;
}
.div23 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-72 {
  top: 61px;
  left: 527px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro24 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold24,
.star-icon24 {
  position: absolute;
  top: 0;
}
.star-icon24 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold24 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent21 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.electric-bike-off,
.w-72v-32ah {
  margin: 0;
}
.yokohama-new-japan-container21 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-5-item {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div24,
.item-5-item,
.item-51 {
  position: absolute;
}
.div24 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-51 {
  top: 61px;
  left: 776px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro25 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold25,
.star-icon25 {
  position: absolute;
  top: 0;
}
.star-icon25 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold25 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent22 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.elbil-jeep-willys1,
.peak-1500w-motor1 {
  margin: 0;
}
.yokohama-new-japan-container22 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-4-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div25,
.item-4,
.item-4-child {
  position: absolute;
}
.div25 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-4 {
  top: 61px;
  left: 278px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro26 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold26,
.star-icon26 {
  position: absolute;
  top: 0;
}
.star-icon26 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold26 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent23 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.yokohama-new-japan5 {
  position: absolute;
  top: 203px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-2-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div26 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-21,
.price-child {
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.item-21 {
  top: 61px;
  left: 29px;
  border-radius: var(--br-5xs);
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.price-child {
  height: 82.86%;
  width: 100%;
  top: 8.57%;
  right: 0;
  bottom: 8.57%;
  left: 0;
  border-radius: var(--br-8xs);
}
.price1 {
  position: absolute;
  height: 100%;
  width: 18.48%;
  top: 0;
  left: 4.89%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expand-arrow-icon {
  position: absolute;
  top: 13px;
  left: 163px;
  width: 12px;
  height: 9.6px;
  object-fit: cover;
}
.price {
  position: absolute;
  height: 3.3%;
  width: 17.71%;
  top: 1.32%;
  right: 41.96%;
  bottom: 95.38%;
  left: 40.33%;
  text-align: center;
  font-size: var(--font-size-smi);
}
.popular-child {
  position: absolute;
  height: 82.86%;
  width: 100%;
  top: 8.57%;
  right: 0;
  bottom: 8.57%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-indianred-100);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.popular1 {
  position: absolute;
  width: 57.17%;
  top: 0;
  left: 22.02%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular {
  position: absolute;
  height: 3.3%;
  width: 9.53%;
  top: 1.32%;
  right: 81.33%;
  bottom: 95.38%;
  left: 9.14%;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.popular-item {
  position: absolute;
  height: 82.86%;
  width: 100%;
  top: 8.57%;
  right: 0;
  bottom: 8.57%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.latest {
  position: absolute;
  width: 57.17%;
  top: 0;
  left: 22.02%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular2 {
  position: absolute;
  height: 3.3%;
  width: 9.53%;
  top: 1.32%;
  right: 70.93%;
  bottom: 95.38%;
  left: 19.54%;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-smi);
}
.popular-inner {
  position: absolute;
  height: 82.86%;
  width: 100%;
  top: 8.57%;
  right: 0;
  bottom: 8.57%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.top-sales {
  position: absolute;
  top: 0;
  left: 18.99%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
}
.popular3 {
  position: absolute;
  height: 3.3%;
  width: 9.53%;
  top: 1.32%;
  right: 60.54%;
  bottom: 95.38%;
  left: 29.93%;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-smi);
}
.sort-by {
  position: absolute;
  top: 172px;
  left: 369px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1039px;
  height: 1061px;
  overflow: hidden;
}
.quezon-city-metro27,
.you-might-like {
  position: absolute;
  text-transform: capitalize;
  font-weight: 500;
}
.you-might-like {
  top: 16px;
  left: 29px;
  font-size: var(--font-size-mid);
  line-height: 35px;
  text-align: center;
}
.quezon-city-metro27 {
  top: 24px;
  left: 76px;
  line-height: 15px;
}
.sold27,
.star-icon27 {
  position: absolute;
  top: 0;
}
.star-icon27 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold27 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent24 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.bicycle-light-waterproof,
.light-led-usb {
  margin: 0;
}
.yokohama-new-japan-container23 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div27 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-103 {
  position: absolute;
  top: 61px;
  left: 278px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro28 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold28,
.star-icon28 {
  position: absolute;
  top: 0;
}
.star-icon28 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold28 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent25 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.vh-safety-bright,
.wheel-tire-tyre {
  margin: 0;
}
.yokohama-new-japan-container24 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-9-child1 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div28,
.item-9-child1,
.item-93 {
  position: absolute;
}
.div28 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-93 {
  top: 61px;
  left: 776px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro29 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold29,
.star-icon29 {
  position: absolute;
  top: 0;
}
.star-icon29 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold29 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent26 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.enzo-aluminum-alloy,
.holder-stand-mount {
  margin: 0;
}
.yokohama-new-japan-container25 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-11-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div29 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-111 {
  position: absolute;
  top: 392px;
  left: 776px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro30 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold30,
.star-icon30 {
  position: absolute;
  top: 0;
}
.star-icon30 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold30 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent27 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.ble-mirrors-waterproof,
.pack-bike-side {
  margin: 0;
}
.yokohama-new-japan-container26 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-8-child1 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div30,
.item-8-child1,
.item-83 {
  position: absolute;
}
.div30 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-83 {
  top: 392px;
  left: 29px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro31 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold31,
.star-icon31 {
  position: absolute;
  top: 0;
}
.star-icon31 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold31 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent28 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.adult-mober-scooter1,
.off-road-electric1 {
  margin: 0;
}
.yokohama-new-japan-container27 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-7-child1 {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div31,
.item-7-child1,
.item-73 {
  position: absolute;
}
.div31 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-73 {
  top: 61px;
  left: 527px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro32 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold32,
.star-icon32 {
  position: absolute;
  top: 0;
}
.star-icon32 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold32 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent29 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.albott-scooter-with2,
.bar-large-aluminum2 {
  margin: 0;
}
.yokohama-new-japan-container28 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-5-inner {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div32,
.item-5-inner,
.item-52 {
  position: absolute;
}
.div32 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-52 {
  top: 392px;
  left: 527px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro33 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold33,
.star-icon33 {
  position: absolute;
  top: 0;
}
.star-icon33 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold33 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent30 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.elbil-jeep-willys2,
.peak-1500w-motor2 {
  margin: 0;
}
.yokohama-new-japan-container29 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-4-item {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div33,
.item-4-item,
.item-41 {
  position: absolute;
}
.div33 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-41 {
  top: 392px;
  left: 278px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
  overflow: hidden;
}
.quezon-city-metro34 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold34,
.star-icon34 {
  position: absolute;
  top: 0;
}
.star-icon34 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold34 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent31 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
}
.inch-with-auxiliary,
.japan-kids-bicycle {
  margin: 0;
}
.yokohama-new-japan-container30 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.item-12-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
}
.div34 {
  position: absolute;
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
}
.item-121,
.sort-by2 {
  position: absolute;
  background-color: var(--color-white);
  overflow: hidden;
}
.item-121 {
  top: 61px;
  left: 29px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 230px;
  height: 312px;
}
.sort-by2 {
  top: 1260px;
  left: 369px;
  border-radius: var(--br-3xs);
  width: 1039px;
  height: 735px;
}
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-indianred-100);
}
.clear-all {
  position: absolute;
  top: 9.3%;
  left: 37.35%;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
}
.popular4 {
  position: absolute;
  height: 7.43%;
  width: 92.91%;
  top: 92.57%;
  right: 3.36%;
  bottom: 0;
  left: 3.73%;
  color: var(--color-white);
}
.categories3 {
  position: absolute;
  top: 0;
  left: 32px;
  line-height: 35px;
  text-transform: capitalize;
}
.frame-icon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.appliances,
.bikes,
.toys,
.vehicles5 {
  position: absolute;
  left: 0;
  line-height: 35px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
}
.vehicles5 {
  top: 0;
  color: var(--color-indianred-100);
}
.appliances,
.bikes,
.toys {
  top: 35px;
}
.bikes,
.toys {
  top: 70px;
}
.toys {
  top: 105px;
}
.vehicles-parent {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 85px;
  height: 140px;
  font-size: var(--font-size-mini);
}
.categories2 {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 135px;
  height: 170px;
}
.categories-wrapper {
  position: absolute;
  top: 61px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 249px;
  height: 204px;
  overflow: hidden;
  font-size: var(--font-size-mid);
}
.categories4,
.rating {
  position: absolute;
  width: 96px;
}
.rating {
  top: 0;
  left: 0;
  line-height: 35px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.categories4 {
  top: 17px;
  left: 49px;
  height: 35px;
  font-size: var(--font-size-mid);
}
.group-icon {
  position: absolute;
  height: 7.86%;
  width: 7.23%;
  top: 9.91%;
  right: 83.94%;
  bottom: 82.23%;
  left: 8.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.star-icon35 {
  position: absolute;
  top: 58px;
  left: 68px;
  width: 75px;
  height: 15px;
}
.star-icon36,
.star-icon37,
.star-icon38,
.star-icon39 {
  position: absolute;
  top: 90px;
  left: 68px;
  width: 75px;
  height: 15px;
}
.star-icon37,
.star-icon38,
.star-icon39 {
  top: 122px;
}
.star-icon38,
.star-icon39 {
  top: 154px;
}
.star-icon39 {
  top: 186px;
}
.up,
.up1,
.up2,
.up3 {
  position: absolute;
  top: 90px;
  left: 152px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.up1,
.up2,
.up3 {
  top: 122px;
}
.up2,
.up3 {
  top: 154px;
}
.up3 {
  top: 186px;
}
.categories-parent {
  position: absolute;
  top: 286px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 249px;
  height: 229px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
}
.quezon-city-metro35 {
  position: absolute;
  top: 24px;
  left: 76px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.sold35,
.star-icon40 {
  position: absolute;
  top: 0;
}
.star-icon40 {
  left: 0;
  width: 75px;
  height: 15px;
}
.sold35 {
  left: 84px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.quezon-city-metro-manila-parent32 {
  position: absolute;
  top: 268px;
  left: 11px;
  width: 210px;
  height: 39px;
  display: none;
}
.albott-scooter-with3,
.bar-large-aluminum3 {
  margin: 0;
}
.yokohama-new-japan-container31 {
  position: absolute;
  top: 195px;
  left: 11px;
  font-size: var(--font-size-xs);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: none;
}
.item-20-child {
  top: 0;
  left: 0;
  width: 230px;
  height: 186px;
  object-fit: cover;
  display: none;
}
.div35,
.item-20,
.item-20-child {
  position: absolute;
}
.div35 {
  top: 239px;
  left: 11px;
  font-size: var(--font-size-xl);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-indianred-100);
  display: none;
}
.item-20 {
  top: 4px;
  left: 9px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 250px;
  height: 32px;
  overflow: hidden;
}
.streamline-trending-content-s-icon {
  position: absolute;
  top: 10px;
  left: 29px;
  width: 23px;
  height: 20px;
  overflow: hidden;
}
.trending-products {
  position: absolute;
  top: 5px;
  left: 63px;
  font-size: var(--font-size-mini);
  line-height: 15px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 196px;
  height: 30px;
}
.trend-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 268px;
  height: 41px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.popular-parent {
  position: absolute;
  height: 25.69%;
  width: 17.87%;
  top: 7.63%;
  right: 77.07%;
  bottom: 66.68%;
  left: 5.07%;
  text-align: center;
  font-size: var(--font-size-mini);
}
.main-item {
  position: absolute;
  top: 0;
  left: calc(50% - 750px);
  background-color: var(--color-linen-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1500px;
  height: 151px;
}
.search-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-100);
  box-sizing: border-box;
  width: 928px;
  height: 42px;
}
.search3 {
  position: absolute;
  top: 12px;
  left: 19px;
  font-weight: 500;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-100);
  width: 46px;
  height: 31px;
}
.search-icon1 {
  position: absolute;
  height: 76.45%;
  width: 48.91%;
  top: 19.35%;
  right: 25%;
  bottom: 4.19%;
  left: 26.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-group,
.search2 {
  position: absolute;
  top: 6px;
  left: 875px;
  width: 46px;
  height: 31px;
}
.search2 {
  top: 73px;
  left: 368px;
  width: 928px;
  height: 42px;
  font-size: var(--font-size-mini);
}
.cart-icon1 {
  position: absolute;
  height: 78.71%;
  width: 84.85%;
  top: 21.29%;
  right: 15.15%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cart-item {
  position: absolute;
  top: 0;
  left: 21.3px;
  border-radius: 50%;
  background-color: var(--color-sienna);
  width: 15px;
  height: 15px;
}
.b1,
.cart1 {
  position: absolute;
  top: 1px;
  left: 26px;
}
.cart1 {
  height: 27.68%;
  width: 2.42%;
  top: 47.68%;
  right: 9.51%;
  bottom: 24.64%;
  left: 88.07%;
  cursor: pointer;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.logo-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 94.9px;
  object-fit: cover;
}
.arngren3 {
  position: absolute;
  top: 36px;
  left: 96px;
  font-weight: 600;
}
.logo1 {
  position: absolute;
  top: 34px;
  left: 93px;
  width: 250px;
  height: 94.9px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
}
.account-icon1 {
  position: absolute;
  height: 100%;
  width: 33.91%;
  top: 0;
  right: 66.09%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hakdog1 {
  position: absolute;
  top: 9.4px;
  left: 33.1px;
  font-weight: 500;
}
.account1 {
  position: absolute;
  height: 20.33%;
  width: 5.74%;
  top: 9.01%;
  right: 6.2%;
  bottom: 70.66%;
  left: 88.06%;
}

.english1 {
  position: absolute;
  top: 13px;
  left: 51px;
  font-weight: 500;
}
.english4 {
    position: absolute;
    top: 9px;
    left: 39px;
    font-weight: 500;
  }
  .arrow-back-ios-new-icon4,
  .globe-icon-13 {
    position: absolute;
    top: 10px;
    left: 92px;
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
  .globe-icon-13 {
    top: 0;
    left: 0;
    width: 29.1px;
    height: 30px;
    object-fit: cover;
  }
  .language4,
  .main4 {
    position: absolute;
    top: 14px;
    left: 1184px;
    width: 107px;
    height: 30px;
  }
  .main4 {
    top: 0;
    left: 0;
    width: 1500px;
    height: 151px;
    font-size: var(--font-size-smi);
  }
.main1 {
  position: absolute;
  top: 0;
  left: calc(50% - 749px);
  width: 1500px;
  height: 151px;
  font-size: var(--font-size-smi);
}
.vehicles4 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 2254px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-montserrat);
}
